:root{
    --fluid-color: #ce43d3;
    --keppel-color: #3bba9c;
    --keppel-dark-color: #338572;
    --gunmetal-color: #2e3047;
    --outer-space-color: #43455c;
    --arsenic-color: #3c3f58;
    --rhythm-color:#707793;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--gunmetal-color);
}
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--gunmetal-color);
    transition: 0.5s;
}
.main.active{
    width: calc(100% - 80px);
    left: 0;
}