.listTitle
  font-size 1.3em
  font-weight 600
  color var(--keppel-color)
  margin-bottom 10px

.todoList
  display flex
  flex-direction column
  gap 20px
  margin 20px

.todos
  display grid
  grid-template-columns repeat(auto-fit, minmax(250px, 1fr))
  grid-template-rows repeat(auto, 1fr)
  gap 30px
.emptyState
    display flex
    align-items center
    justify-content center
    height 200px
    border 2px dashed var(--keppel-color)
    border-radius 8px
    font-family 'Nunito', sans-serif
    font-weight 600
    font-size 1.2em
    color var(--keppel-color)
    background-color var(--arsenic-color)
    margin-top 20px
