.listTitle
  font-size 1.3em
  font-weight 600
  color var(--keppel-color)
  margin-bottom 10px

.todoList
  display flex
  flex-direction column
  gap 20px
  margin-left 20px

.todos
  display grid
  grid-template-columns repeat(auto-fit, minmax(250px, 1fr))
  grid-template-rows repeat(auto, 1fr)
  gap 30px
