.card
  max-height 300px
  padding 8px
  background var(--arsenic-color)

  h2
    font-family 'Nunito', sans-serif
    line-height 20px
    font-weight 800
    font-size 1.2em
    color var(--keppel-color)
    margin-bottom 1em

  p
    font-family 'Nunito', sans-serif
    color white
    font-weight 300
    font-size 1em

  .actions
    display flex
    color white
    justify-content flex-end
    margin-top 3%

    i
      margin-inline 5px
      font-size 1.2em