.header
  position relative
  display flex
  justify-content space-between 
  align-items center 
  flex-direction row 
  margin 1rem
  gap 5px
  color var(--keppel-color)

  .title
    flex-grow 1 
    display flex
    flex-direction column
    gap 5px

    p, h2
      font-family 'Nunito', sans-serif
      line-height 20px

  .buttons
    display flex
    gap 10px

    button
      background none
      border none
      cursor pointer
      padding 10px
      border-radius 50%
      transition background-color 0.3s

      &:hover
        background-color var(--rhythm-color)

      &:disabled
        cursor not-allowed
        opacity 0.5

      i.fa
        font-size 20px
        color var(--fluid-color)

      & .fa-pencil
        color var(--keppel-color)

      & .fa-trash
        color var(--outer-space-color)
      &:disabled
       cursor not-allowed
       background-color var(--arsenic-color)
       color var(--spacegum-color)
       box-shadow none
       &:hover
        transform none

.toggle
  position relative
  top 0
  width 60px
  height 60px
  font-display flex
  justify-content center
  align-items center
  font-size 2.5em
  cursor pointer
  color var(--rhythm-color)
