.navigation
  position fixed
  width 300px
  height 100%
  background-color var(--outer-space-color)
  transition 0.5s
  overflow hidden
  left 0
  display flex
  flex-direction column
  h1
   color var(--fluid-color)
   margin: 1rem 0 1rem 1rem
  hr
   margin 1.5rem 0
   border 1px solid var(--rhythm-color)

  &.active
    width 0px
  .forms-buttons
    display flex
    justify-content space-evenly
    gap 15px
    width 100%
    margin 1.5rem 1rem 1em 0 
    button
     font-size 12px;
     text-transform uppercase;
     letter-spacing 1.5px;
     font-weight 500;
     border none;
     border-radius 45px;
     box-shadow 0px 8px 15px rgba(0, 0, 0, 0.1);
     transition all 0.3s ease 0s;
     cursor pointer;
     outline none;
     width 45%
     color var(--keppel-color)
     line-height 60px
     text-align center
     background-color var(--gunmetal-color)
     &:hover
      background-color #23c483;
      box-shadow 0px 15px 20px rgba(46, 229, 157, 0.4);
      color #fff;
      transform translateY(-7px);
     &:active
      transform translateY(-1px)
  ul
    left 0
    width 100%

    li
      position relative
      width 100%
      list-style none
      border-radius 30px

      &:hover,
      &.hovered
        background-color var(--gunmetal-color)

      p
        position relative
        width 100%
        display flex
        text-decoration none
        color var(--keppel-color)

        &::before,
        &::after
          content ''
          position absolute
          width 50px
          height 50px
          background transparent
          border-radius 50%
          pointer-events none

        &:hover::before,
        &.hovered::before
          box-shadow 35px 35px 0 10px var(--gunmetal-color)
          top -50px
          right 0

        &:hover::after,
        &.hovered::after
          box-shadow 35px -35px 0 10px var(--gunmetal-color)
          bottom -50px
          right 0

      .title
        position relative
        display block
        padding 0 10px
        height 60px
        line-height 60px
        text-align start
        white-space nowrap
